darleh-container{
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
      background: rgba(0, 88, 120, 0.8);
      color: #fff;
    }
}
.assets-content {
  min-height: 800px;
}
